/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* GOOGLE FONTS */
body {
    font-family: 'Open Sans', sans-serif;
}
.border-test {
    border: 1px dashed black;
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.height-test {
    height: 800px;
}

/* HEADER */
#nav-header {
    /* height: 60px; */
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
}
ul.hdr-list li{
    font-size: .8rem;
    padding: 1rem;
}

.button-size {
    color: white;
    background-color: rgb(0, 97, 255);
    border: none;
    padding: .5rem 1.5rem;
}


/* MAIN */
main > section:not(#jumbo) {
    padding: 4rem 0;
}
/* Jumbotron */
.jmb-ftr-common-size {
    width: 63%;
    margin: 0 auto;
}
#jumbo {
    background-color: rgb(180, 208, 231);
    padding-top: 4.5rem;
}
#jmb-container {
    display: flex;
    flex-direction: column;
}
div#jmb-container > div {
    display: flex;
    position: relative;
    top: 4rem;
}
div#jmb-container h1 {
   font-size: 4rem;
   font-weight: 800;
}
section#jmb-description {
    width: 30%;
}
section#jmb-description > p, 
section#jmb-description > button  {
    margin-bottom: 1.3rem;
    font-size: .8rem;
}
#arrow-down {
    font-size: 2.5rem;
    position: absolute;
    bottom: 4.5rem;
}

section#jmb-image {
    width: 70%;
    height: 100%;
}
section#jmb-image img {
    width: 100%;
}
/* Big section */
.big-section {
    /* height: 800px; */
}
.common-size {
    width: 58%;
    margin: 0 auto;
}
/* Big section box with section title of main and radio-buttons */
#main-section-title span {
    font-size: .8rem;
}
#main-section-title input {
    vertical-align: middle;
}
#main-section-title > * {
    padding-bottom: 2.3rem;
}
#main-section-title > h1 {
    font-size: 1.5rem;
}

div#input-container > * {
    padding-right: 3rem;
}
/* Big section box with 4 colums in flex*/
.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* height: 600px; */
}
.bsn-plan {
    width: calc((100% / 3) - 1.5rem);
    font-size: .8rem;
}
.bsn-plan-border {
    border: 1px solid rgb(208, 208, 211);
}
.bsn-plan > *:not(.top-bsn-plan) {
    margin: 2.5rem 0;
}
#bsn-plan-different {
    width: 100%;
}
/* Section of bsn-plan on top */
.top-bsn-plan {
    text-align: center ;
    /* font-weight: 200; */
    border-bottom: 1px solid rgb(208, 208, 211);
    padding: .5rem 0;
}
/* bns-plan description*/
.title-bsn-plan p:nth-child(2) {
    font-weight: 800;
}
.title-bsn-plan .payment-deadline {
    color: grey;
    margin-top: .5rem;
} 
.title-bsn-plan > *:not(.payment-deadline) {
    margin-top: 1rem;
}
.description-bsn-plan > *  {
    margin-bottom: 1rem;
}
.bsn-plan hr {
    width: 20%;
    opacity: .5;
}
.button-bsn-plan p {
    margin-top: 1.5rem;
}
.fa-check {
    color: rgb(0, 95, 255);
}
.highlights-bsn-plan > * {
    padding-bottom: 1.7rem;
}
.highlights-list > p {
    margin-bottom: 1.2rem;
}
.highlights-bsn-plan h3 {
    font-size: .7rem;
}









/* FOOTER */
footer section {
    height: 600px;
    border: 1px dashed black;
    background-color: aqua;
}

