/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* GOOGLE FONTS */
body {
    font-family: 'Open Sans', sans-serif;
}
.border-test {
    border: 1px dashed black;
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.height-test {
    height: 800px;
}

/* HEADER */
#nav-header {
    /* height: 60px; */
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
}
ul.hdr-list li{
    font-size: .8rem;
    padding: 1rem;
}

.button-size {
    color: white;
    background-color: rgb(0, 97, 255);
    border: none;
    padding: .5rem 1.5rem;
}


/* MAIN */
main > section:not(#jumbo, #full-width-section) {
    padding: 6rem 0;
}
/* Jumbotron */
.jmb-ftr-common-size {
    width: 63%;
    margin: 0 auto;
}
#jumbo {
    padding-top: 4.5rem;
}
.bg-light-blue {
    background-color: rgb(180, 208, 231);
}
#jmb-container {
    display: flex;
    flex-direction: column;
}
div#jmb-container > div {
    display: flex;
    position: relative;
    top: 4rem;
}
div#jmb-container h1 {
   font-size: 4rem;
   font-weight: 800;
}
section#jmb-description {
    width: 30%;
}
section#jmb-description > p, 
section#jmb-description > button  {
    margin-bottom: 1.3rem;
    font-size: .8rem;
}
#arrow-down {
    font-size: 2.5rem;
    position: absolute;
    bottom: 4.5rem;
}

section#jmb-image {
    width: 70%;
    height: 100%;
}
section#jmb-image img {
    width: 100%;
}
/* Big section */

.common-size {
    width: 58%;
    margin: 0 auto;
}
/* Big section box with section title of main and radio-buttons */
#main-section-title span {
    font-size: .8rem;
}
#main-section-title input {
    vertical-align: middle;
}
#main-section-title > * {
    padding-bottom: 2.3rem;
}
#main-section-title > h1 {
    font-size: 1.5rem;
}

div#input-container > * {
    padding-right: 3rem;
}
/* Big section box with 4 colums in flex*/
.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* height: 600px; */
}
.column {
    width: calc((100% / 3) - 1.8rem);
}
.bsn-plan-border {
    border: 1px solid rgb(208, 208, 211);
}
.bsn-plan {
    font-size: .75rem;
}

/* Section of bsn-plan on top */
.top-bsn-plan {
    text-align: center ;
    /* font-weight: 200; */
    border-bottom: 1px solid rgb(208, 208, 211);
    padding: .5rem 0;
}
/* bns-plan description*/
.title-bsn-plan p:nth-child(2) {
    font-weight: 800;
}
.title-bsn-plan .payment-deadline {
    color: grey;
    margin-top: .5rem;
} 
.title-bsn-plan > *:not(.payment-deadline) {
    margin-bottom: 1rem;
}
.description-bsn-plan ul > *  {
    margin-bottom: 1rem;
}

hr {
    width: 20%;
    opacity: .5;
}
.button-bsn-plan p {
    margin-top: 1.5rem;
}

.button-bsn-plan button {
    font-size: .7rem;
}
.fa-check {
    color: rgb(0, 95, 255);
}
.highlights-bsn-plan > * {
    padding-bottom: 1.7rem;
}
.highlights-list > li {
    margin-bottom: 1.2rem;
}
.highlights-bsn-plan h3 {
    font-size: .7rem;
}

/* Bsn-plan-different */
#bsn-different {
    width: 100%;
    font-size: .75rem;
    margin-top: 2.5rem;
}
.bsn-plan-common-distance > *:not(.top-bsn-plan) {
    margin: 2.5rem 0;
    padding: 0 1.5rem;
}
#bsn-diff-container {
    display: flex;
}
#title-diff-width {
    width: 65%;
}
#button-diff-align {
    width: 35%;
    text-align: end;
}
#diff-distance {
    margin-top: 3rem;
}

/* Section with possible operations with dropbox */
.operations > * {
    margin: 2rem 0;
}

.font-size {
    font-size: .8rem;
    
}
#operations-title {
    font-size: 1.3rem;
}
.operations-image img {
    width: 100%;
}
.op-column > * {
    padding: 0 .5rem;
}
.op-description > h3 {
    font-size: 1.2rem;
    padding-bottom: 2rem;
}
/* Small main sections */
.small-section-image {
    width: calc(60% - 1rem);
}
.small-section-image img {
    width: 100%;
}
.small-section-description {
    width: calc(40% - 1rem);
    padding-top: 2rem;
}
#button-white {
    color: black;
    background-color: white;
    border: .5px solid;
}
.small-section-description > * {
    margin-top: 1rem;
}
.small-section-title {
    font-size: 2rem;
    width: 55%;
}
#small-container p {
    margin-top: 3rem;
}
#button-diff {
    padding: .5rem 2.5rem;
    color: black;
    background-color: white;
    border: none;
}
#color-purple {
    color: rgb(97, 8, 43);
}
/* Full-width section */
.big-square {
    width: calc(100% / 3);
}
.small-square {
    width: calc(100% / 2);
}
.small-square > img {
    width: 100%;
    padding: 4.5rem;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(342deg) brightness(103%) contrast(103%);
}
.bg-green {
    background-color: rgb(162, 211, 155);
}
.bg-dark-red {
    background-color: rgb(97, 8, 43);
}
.bg-red-diff {
    background-color: rgb(213, 0, 31);
}
.bg-red {
    background-color: rgb(255, 28, 28);
}
.bg-turkish {
    background-color: rgb(0, 147, 206);
}
.bg-blue {
    background-color: rgb(13, 36, 129);
}
.bg-yellow {
    background-color: rgb(255, 216, 48);
}
.bg-white {
    background-color: rgb(245, 245, 245);
}
#middle-square {
    padding: 0 2.5rem;
}
#middle-square img {
    width: 50%;
}
#middle-square > * {
    padding-top: 3rem;
}
/* FOOTER */
footer section {
    /* height: 600px; */
    /* border: 1px dashed black; */
    /* background-color: aqua; */
}
/* Upper footer */
footer #upper-footer {
    padding: 6rem 0;
}
footer #upper-footer div > section {
    border-bottom: 1px solid lightgray;
}
footer #upper-footer h2 {
    font-size: 2rem;
    padding: 2.7rem 0;
}
footer .up-ftr-section > p {
    padding: 2rem 0;
    font-weight: 800;
}
.up-ftr-section div {
    align-self: stretch;
    padding-right: 2.3rem;
}
/* Bottom footer */
#bottom-footer {
    background-color: black;
    color: white;
}